<div class="app_cont">

	<div class="breadcrumb">
		<a href="/dashboard/#/">Home</a>
		<span class="arrow">&nbsp;&rsaquo;&nbsp;</span>
		<a href="/dashboard/#/articles">Articles</a>
		<span class="arrow">&nbsp;&rsaquo;&nbsp;</span>
		<span class="ORANGE">{{article.title}}</span>
	</div>

	<div class="head news">
		<div class="LEFT">{{article.title}}</div>
		<div class="CLEAR"></div>
	</div>
	<div class="body">

		<div ng-bind-html="article.body" class="article show"></div>

	</div>

	<div class="comments-section">

		<div class="comments-label">Comments</div>

		<ul class="comments-list">
			<li class="comment" ng:repeat="comment in comments">
				<div class="comment-top">
					<div class="comment-author">{{zd_key[comment.author_id]}}:</div>
					<div class="comment-time">{{displayDate(comment.created_at).sDate}}</div>
				</div>
				<div class="comment-body" ng-bind-html="comment.body"></div>
			</li>
		</ul>

		<textarea placeholder="Add your comment" ng:model="comment.body"></textarea>
		<a href="" class="btn green" ng:click="createComment()">Submit</a>
		{{$parent.x}}

	</div>

</div>