<div class="template_container">

	<div class="breadcrumb">
		<a href="/dashboard/#/">Home</a>
		<span class="arrow">&nbsp;&rsaquo;&nbsp;</span>
		<a href="/dashboard/#/events/{{event.objectId}}">Events</a>
		<span class="arrow">&nbsp;&rsaquo;&nbsp;</span>
		<span class="ORANGE">{{event.title}}</span>
	</div>

	<div class="event-header">

		<div class="event-title">{{event.title}}</div>
		<table>
			<tr class="event-date">
				<td colspan="2">
					<span>{{displayDate(event.start_date.iso).fString}}</span>
				</td>
			</tr>
			<tr class="event-deadline">
				<td>Registration&nbsp;Deadline:&nbsp;</td>
				<td>
					<span>{{displayDate(event.reg_date.iso).fString}}</span>
				</td>
			</tr>
		</table>

	</div>

	<div class="info-container">

		<div class="info-head">
			
			<a href="" class="info-item" ng:class="{'selected':tab=='overview'}" ng:click="tab = 'overview'">Overview</a>
			<a href="" class="info-item" ng:class="{'selected':tab=='bracket'}" ng:click="tab = 'bracket'">Bracket</a>
			<a href="" class="info-item" ng:class="{'selected':tab=='myteams'}" ng:click="tab = 'myteams'">My&nbsp;Teams</a>
			<div class="info-item">
				<span ng:show="tab != 'myteams'"><a href="" class="btn green" ng:click="tab = 'myteams'">Register</a></span>
			</div>

		</div>

		<div class="info-body" ng:show="tab == 'overview'">

			<div ng-bind-html="event.article.body"></div>

		</div>

		<div class="info-body" ng:show="tab == 'myteams'">

			<table class="table">

				<tr>
					<th colspan="2">Register your team by selecting the 'Register' button on a team. These are teams which YOU are on their roster. You may only register a team which you are a part of.</th>
					<th ng:if="teamFilter">&nbsp;</th>
				</tr>

				<tr ng:if="!displayTeams || displayTeams.length == 0">
					<td>You are not on any teams roster. Create a team <a href="#/teams/new" class="ORANGE">here</a>.</td>
				</tr>

				<tr ng:repeat="team in displayTeams | orderBy:['name']">
					<td>
						
						<a href="/dashboard/#/teams/{{team.objectId}}" ng:click="">{{team.name}}</a>

						<ul class="table-expand">

							<li ng:show="roster[team.objectId]">Selected players will be eligible to participate in this event.</li>
							<li ng:repeat="user in roster[team.objectId]">
								<input type="checkbox" ng:model="user.event_active" ng:change="setStatus(user)" />
								<label>{{user.gamertag}}</label>
							</li>

						</ul>

					</td>
					<td ng:if="teamFilter">
						<a href="" class="btn" ng:click="getRoster(team.objectId)" ng:if="team.registered && team.i_am_admin && !roster[team.objectId]">Edit Roster</a>
						<a href="" class="btn" ng:click="roster[team.objectId] = null" ng:if="team.registered && team.i_am_admin && roster[team.objectId]">Close Roster</a>
					</td>
					<td>
						<a href="" class="btn green" ng:click="registerTeam(team)" ng:if="!team.registered">Register</a>
						<a href="" class="btn red" ng:click="unregisterTeam(team)" ng:if="team.registered">Un-Register</a>
					</td>
				</tr>

			</table>

		</div>

		<div class="info-body" ng:show="tab == 'bracket'">

			<table class="table">
				<tr>
					<th>The bracket will be populated when the registration period is complete.</th>
				</tr>
			</table>

		</div>

		<div class="bracket" ng:show="tab == 'bracket'">

			<div class="bracket_container">

				<table class="bracket">
					<tr>
						<td>
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>1&nbsp;</span></a>
										<a href="" class="team"><span>8&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
						<td rowspan="2">
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>&nbsp;</span></a>
										<a href="" class="team"><span>&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
						<td rowspan="4">
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>&nbsp;</span></a>
										<a href="" class="team"><span>&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
						<td rowspan="4">
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>&nbsp;</span></a>
										<a href="" class="team"><span>&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
						<td rowspan="2">
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>&nbsp;</span></a>
										<a href="" class="team"><span>&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
						<td>
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>1&nbsp;</span></a>
										<a href="" class="team"><span>8&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td>
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>3&nbsp;</span></a>
										<a href="" class="team"><span>6&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
						<td>
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>3&nbsp;</span></a>
										<a href="" class="team"><span>6&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td>
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>4&nbsp;</span></a>
										<a href="" class="team"><span>5&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
						<td rowspan="2">
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>&nbsp;</span></a>
										<a href="" class="team"><span>&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
						<td rowspan="2">
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>&nbsp;</span></a>
										<a href="" class="team"><span>&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
						<td>
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>4&nbsp;</span></a>
										<a href="" class="team"><span>5&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td>
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>2&nbsp;</span></a>
										<a href="" class="team"><span>7&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
						<td>
							<div class="game">
								<div class="teams">

									<div class="teams-item">
										<a href="" class="team"><span>2&nbsp;</span></a>
										<a href="" class="team"><span>7&nbsp;</span></a>
									</div>
									<a href="" class="teams-item"></a>

								</div>
							</div>
						</td>
					</tr>
				</table>

			</div>

		</div>

	</div>

</div>