<div class="template_container">

	<div class="breadcrumb">
		<a href="/dashboard/#/">Home</a>
		<span class="arrow">&nbsp;&rsaquo;&nbsp;</span>
		<span class="ORANGE">Messages</span>
	</div>

	<div class="info-container">

		<div class="info-head">
			
			<a href="" class="info-item" ng:class="{'selected':tab=='inbox'}" ng:click="tab = 'inbox'">Inbox</a>
			<a href="" class="info-item" ng:class="{'selected':tab=='sent'}" ng:click="tab = 'sent'">Sent</a>
			<a href="" class="info-item" ng:class="{'selected':tab=='compose'}" ng:click="tab = 'compose'">Compose</a>
			<div class="info-item"></div>

		</div>

		<div class="info-body" ng:if="tab=='inbox'">

			<table class="inbox">
				<tr>
					<td class="list">
						<ul class="messages-list">
							<li class="messages-item" ng:repeat="message in messages.inbox" ng:class="{'selected':inboxI==$index}">
								<a href="" ng:click="$parent.inboxI = $index;">
									<div class="message-author"><span>From:&nbsp;</span>{{message.user.gamertag}}</div>
									<div class="message-preview">{{message.body_short}}</div>
									<div class="message-time">{{displayDate(message.createdAt).sDate}}</div>
								</a>
							</li>
						</ul>
					</td>
					<td class="body">
						
						<div class="message-recipient"><span>From:&nbsp;</span>{{messages.inbox[inboxI].user.gamertag}}</div>
						<div class="message-time">{{displayDate(messages.inbox[inboxI].createdAt).sDate}}</div>
						<div class="message-body" ng-bind-html="messages.inbox[inboxI].body_html"></div>

						<textarea class="message-input" id="message-input" placeholder="Reply" ng:model="message.body"></textarea>

						<a href="" class="btn blue" ng:if="message.body && message.recipient && !x.message" ng:click="createMessage()">Send</a>
						<a href="" class="btn blue" ng:if="message.body && message.recipient && x.message" ng:click="">Sending...</a>

					</td>
				</tr>
			</table>

		</div>

		<div class="info-body" ng:if="tab=='sent'">

			<table class="inbox">
				<tr>
					<td class="list">
						<ul class="messages-list">
							<li class="messages-item" ng:repeat="message in messages.sent" ng:class="{'selected':sentI==$index}">
								<a href="" ng:click="$parent.sentI = $index">
									<div class="message-author"><span>To:&nbsp;</span>{{message.recipient.gamertag}}</div>
									<div class="message-preview">{{message.body_short}}</div>
									<div class="message-time">{{displayDate(message.createdAt).sDate}}</div>
								</a>
							</li>
						</ul>
					</td>
					<td class="body">
						
						<div class="message-recipient"><span>To:&nbsp;</span>{{messages.sent[sentI].recipient.gamertag}}</div>
						<div class="message-time">{{displayDate(messages.sent[sentI].createdAt).sDate}}</div>
						<div class="message-body" ng-bind-html="messages.sent[sentI].body_html"></div>

					</td>
				</tr>
			</table>

		</div>

		<div class="info-body" ng:if="tab=='compose'">

			<div class="info-pad">
				
				<div class="message-recipients">
					<div class="message-label" ng:if="message.recipient">Click user to remove</div>
					<div class="message-recipient" ng:show="message.recipient">
						<a href="" ng:click="removeRecipient()">{{message.recipient.gamertag}}</a>
					</div>
					<div class="CLEAR"></div>
				</div>

				<input type="text" class="message-add" id="message-add" placeholder="Add recipient..." wambl-autocomplete="$parent.users" wambl-display-attr="gamertag" wambl-on-select="addRecipient(item)" wambl-on-click="addRecipient(item)" wambl-select-first="true" wambl-blank-on-select="true" ng:model="message_add" ng:show="!message.recipient" />

				<textarea class="message-input" id="message-input" placeholder="Message" ng:model="message.body"></textarea>

				<a href="" class="btn blue" ng:if="message.body && message.recipient && !x.message" ng:click="createMessage()">Send</a>
				<a href="" class="btn blue" ng:if="message.body && message.recipient && x.message" ng:click="">Sending...</a>

			</div>

		</div>

	</div>

</div>