<div class="template_container">

	<div class="breadcrumb">
		<a href="/dashboard/#/">Home</a>
		<span class="arrow">&nbsp;&rsaquo;&nbsp;</span>
		<span class="ORANGE">Messages</span>
	</div>

	<div class="info-container">

		<div class="info-head">
			
			<a href="" class="info-item" ng:class="{'selected':tab=='inbox'}" ng:click="tab = 'inbox'">Inbox<span ng:if="c > 0">&nbsp;({{c}})</span></a>
			<a href="" class="info-item" ng:class="{'selected':tab=='sent'}" ng:click="tab = 'sent'">Sent</a>
			<a href="" class="info-item" ng:class="{'selected':tab=='compose'}" ng:click="tab = 'compose'">Compose</a>
			<div class="info-item"></div>

		</div>

		<div class="info-body" ng:show="tab=='inbox'">

			<table class="inbox">
				<tr>
					<td class="list">
						<ul class="messages-list">
							<li class="messages-item" ng:if="$parent.messages.loading.inbox">
								<a href="" ng:click="">
									<div class="message-author"><span>Loading</span></div>
								</a>
							</li>
							<li class="messages-item" ng:repeat="message in $parent.messages.inbox" ng:class="{'selected':message.objectId==selectedMessage.inbox.objectId,'unread':$parent.channel.messages.contains('objectId',message.objectId)}">

								<div class="message-item">

									<div class="message-left">

										<a href="" ng:click="message.delete()" class="trash"></a>

									</div>
									<div class="message-right">

										<a href="" ng:click="selectMessage(message,'inbox')">
											<div class="message-author"><span>From:&nbsp;</span>{{message.user.gamertag}}</div>
											<div class="message-preview">{{message.body_short}}</div>
											<div class="message-time">{{displayDate(message.createdAt).sDate}}</div>
										</a>

									</div>

								</div>

							</li>
						</ul>
					</td>
					<td class="body">
						
						<div ng:if="selectedMessage.inbox" ng:init="">

							<div class="message-recipient"><span>From:&nbsp;</span>{{selectedMessage.inbox.user.gamertag}}</div>
							<div class="message-time">{{displayDate(selectedMessage.inbox.createdAt).sDate}}</div>
							<div class="message-body" ng-bind-html="selectedMessage.inbox.body_html"></div>

							<textarea class="message-input" id="message-input" placeholder="Reply" ng:model="reply.body"></textarea>

							<a href="" class="btn blue" ng:if="reply.body && !reply.loading" ng:click="sendMessage(reply)">Reply</a>
							<a href="" class="btn blue" ng:if="reply.loading" ng:click="">Sending...</a>

						</div>

						<!-- <div class="pre">{{reply}}</div> -->

					</td>
				</tr>
			</table>

		</div>

		<div class="info-body" ng:show="tab=='sent'" ng:init="$parent.messages.getSent()">

			<table class="inbox">
				<tr>
					<td class="list">
						<ul class="messages-list">
							<li class="messages-item" ng:if="$parent.messages.loading.sent">
								<a href="" ng:click="">
									<div class="message-author"><span>Loading</span></div>
								</a>
							</li>
							<li class="messages-item" ng:repeat="message in $parent.messages.sent" ng:class="{'selected':selectedMessage.sent.objectId==message.objectId}">
								
								<div class="message-item">

									<div class="message-left">

										<a href="" ng:click="message.delete(true)" class="trash"></a>

									</div>
									<div class="message-right">

										<a href="" ng:click="selectMessage(message,'sent')">
											<div class="message-author"><span>To:&nbsp;</span>{{message.user.gamertag}}</div>
											<div class="message-preview">{{message.body_short}}</div>
											<div class="message-time">{{displayDate(message.createdAt).sDate}}</div>
										</a>

									</div>

								</div>

							</li>
						</ul>
					</td>
					<td class="body">

						<div ng:if="selectedMessage.sent">

							<div class="message-recipient"><span>To:&nbsp;</span>{{selectedMessage.sent.recipient.gamertag}}</div>
							<div class="message-time">{{displayDate(selectedMessage.sent.createdAt).sDate}}</div>
							<div class="message-body" ng-bind-html="selectedMessage.sent.body_html"></div>

						</div>

					</td>
				</tr>
			</table>

		</div>

		<div class="info-body" ng:show="tab=='compose'">

			<div class="info-pad">
				
				<div class="message-recipients">
					<div class="message-label" ng:if="$parent.composer.recipient">Click user to remove</div>
					<div class="message-recipient" ng:show="$parent.composer.recipient">
						<a href="" ng:click="$parent.composer.recipient = null">{{$parent.composer.recipient.gamertag}}</a>
					</div>
					<div class="CLEAR"></div>
				</div>

				<input type="text" class="message-add" id="message-add" placeholder="Add recipient..." wambl-autocomplete="$parent.users" wambl-display-attr="gamertag" wambl-on-select="$parent.composer.recipient = item; selectBody()" wambl-on-click="$parent.composer.recipient = item; selectBody()" wambl-select-first="true" wambl-blank-on-select="true" ng:model="message_add" ng:show="!$parent.composer.recipient" />

				<textarea class="message-input" id="message-input" placeholder="Message" ng:model="$parent.composer.body"></textarea>

				<a href="" class="btn blue" ng:if="$parent.composer.body && $parent.composer.recipient && !$parent.composer.loading" ng:click="sendMessage($parent.composer)">Send</a>
				<a href="" class="btn blue" ng:if="$parent.composer.loading" ng:click="">Sending...</a>

			</div>

		</div>

	</div>

</div>