<div class="template_container" ng:show="event">

	<div class="breadcrumb">
		<a href="/dashboard/#/">Home</a>
		<span class="arrow">&nbsp;&rsaquo;&nbsp;</span>
		<a href="/dashboard/#/seasons/{{params.id}}">Seasons</a>
		<span class="arrow">&nbsp;&rsaquo;&nbsp;</span>
		<span class="ORANGE">{{event.title}}</span>
	</div>

	<div class="event-header">

		<div class="event-title">{{event.title}}</div>
		<table>
			<tr class="event-date">
				<td colspan="2">
					<span>{{displayDate(event.start_date.iso).zString}}</span>
				</td>
			</tr>
			<tr class="event-deadline">
				<td>Registration&nbsp;Deadline:&nbsp;</td>
				<td>
					<span>{{displayDate(event.reg_date.iso).fString}}</span>
				</td>
			</tr>
		</table>

	</div>

	<div class="info-container">

		<div class="info-head">
			
			<a href="" class="info-item" ng:class="{'selected':tab=='overview'}" ng:click="tab = 'overview'">Overview</a>
			<div class="info-item">
				<a href="" class="btn green" ng:click="signUp()" ng:if="!i_am_in && !x.signUp">Sign Me Up!</a>
				<a href="" class="btn red" ng:click="unRegister()" ng:if="i_am_in && !x.signUp">Un-Register</a>
				<a href="" class="btn" ng:click="" ng:if="x.signUp">Processing...</a>
			</div>

		</div>

		<div class="info-body">

			<div ng-bind-html="event.article.body"></div>

		</div>

	</div>

</div>