div.chat {
	margin-top: 10px;
  max-height: 600px;
  overflow-y: scroll;
  background: #F2F2F2;
  border-radius: 4px;
}

div.chat table.messages {
  
}
div.chat table.messages tr td {
  padding: 10px;
}
div.chat table.messages tr td:first-child {
  white-space: nowrap;
  width: 1px;
}
div.chat table.messages tr:nth-child(even) td {
  background: #F7F7F7;
}
div.chat table.messages tr td.info,
div.chat table.messages tr td.body {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}
div.chat table.messages tr td.info div.author {
  color: #525252;
  line-height: normal;
  text-shadow: 1px 1px 1px #FFF;
  font-weight: 500;
}
div.chat table.messages tr.me td.info div.author {
  color: #2DCA6F;
}
div.chat table.messages tr td.info div.time {
  color: #D7D7D7;
  font-size: 11px;
  line-height: normal;
  text-shadow: 1px 1px 1px #FFF;
  margin-top: 4px;
}
div.chat table.messages tr td.body {
  color: rgb(128, 128, 128);
  padding-left: 20px;
  line-height: normal;
}

textarea.chat {
  border-radius: 6px;
  border: solid 1px #CCC;
}


/* ================================================== */
/* ================================================== */

div.main_chat {
  height: 100%;
  overflow-y: scroll;
  min-height: 300px;
}

div.chat_input {
  border-top: solid 1px #514D4D;
  padding: 4px;
  background: #4A4A4A;
}
div.chat_input textarea {
  width: 100%;
  /* background: #FC0; */
  border: solid 1px #ccc;
  border-radius: 4px;
  font-size: 12px;
  /* letter-spacing: 1.3px; */
  padding: 8px 6px 6px 6px;
  font-weight: normal;
  margin: 0;
}

div.chats {

}
div.chats ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.chats ul li {
  font-size: 11px;
  padding: 5px;
}
div.chats ul li span.chat-author {
  color: #ccc;
}
div.chats ul li span.chat-author.me {
  color: #2DCA6F;
}
div.chats ul li span.chat-body {
  color: #A5A4A4;
}
div.chats ul li div.chat-time {
  font-size: 10px;
  text-shadow: 0 0 0;
  font-weight: 300;
  color: #595959;
}